<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/tabele.css" th:href="@{/css/tabele.css}" >
<title>Aplikacja do obsługi Domu Kultury</title>
</head>
<body>

	<div align="center">

		<!-- Page header -->
		<h1>Edytowanie Realizacji Wydarzenia</h1>

		<!-- End line/new line -->

		<br />

		<form action="#" th:action="@{/updateRW}" th:object="${EditRealizacje}"
			method="post">

			<!-- Table -->
			<table class="cinereousTable">

				<tr>
					<td>ID:</td>
					<td><input type="text" th:field="*{ID_Realizacji_Wydarzenia}"
						readonly="readonly"></td>

				</tr>
				<tr>
					<td>Data Wydarzenia:</td>
					<td><input type="date" th:field="*{Data_Wydarzenia}"></td>

				</tr>
				<tr>
					<td>Cena:</td>
					<td><input type="text"
						th:field="*{Cena}"></td>

				</tr>
				<tr>
					<td>ID Wydarzenia:</td>
					<td><input type="text" th:field="*{ID_Wydarzenia}">
							
					</td>

				</tr>
				<tr>
					<td>ID Sali:</td>
					<td><input type="text" th:field="*{ID_Sali}"></td>

				</tr>

				<!--  Button for save -->
				<tr>
					<td colspan="2"><button class="button" type="submit">Save</button></td>
				</tr>

			</table>
		</form>
		<br/>
		<!-- EXIT -->
		<a href="/RW">Powrót</a>
	</div>

</body>
</html>