<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Aplikacja do obsługi Domu Kultury</title>
<link rel="stylesheet" href="../static/css/tabele.css" th:href="@{/css/tabele.css}" >
</head>
<body>

	<div align="center">
		<!--  Page header  -->
		<h1>Logowanie Pracownika</h1>
		<br>

		<form action="#" th:action="@{/logP}" method="post"
			th:object="${login}">
			Użytkownik: <input type="text" th:field="*{login}" /> <br /> Hasło:
			<input type="password" th:field="*{password}" /> <br /> <input
				type="submit" value="Zaloguj się" />
		</form>

		<!-- EXIT -->
		<a href="/">Powrót</a>

	</div>
</body>
</html>