<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Aplikacja do obsługi Domu Kultury</title>
</head>
<body>

	<div align="center">
		<!--  Page header  -->
		<h1>Wprowadz nowe obsłużenie wydarzenia przez pracownika</h1>

		<form action="#" th:action="@{/saveOW}" th:object="${NoweObslugiwanie_wydarzenia}"
			method="post">

			<!-- Table -->
			<table border="1" cellpadding="10">

				<!-- Table first row -->

				<tr>
					<td>ID Pracownika:</td>
					<td><input type="text" th:field="*{ID_Pracownika}"></td>
				</tr>

				<!-- Table 2nd row -->

				<tr>
					<td>ID realizacji wydarzenia</td>
					<td><input type="text" th:field="*{ID_Realizacji_Wydarzenia}"></td>
				</tr>

				<!-- Button save -->
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>



			</table>
		</form>
						
				<!-- EXIT -->
				<a href="/OW">Powrót</a>
	</div>
</body>
</html>