<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Aplikacja do obsługi Domu Kultury</title>
<link rel="stylesheet" href="../static/css/tabele.css" th:href="@{/css/tabele.css}" >
</head>
<body>

	<div align="center">
		<!--  Page header  -->
		<h1>Wprowadz nowe Wydarzenie</h1>

		<form action="#" th:action="@{/saveW}" th:object="${NoweWydarzenia}"
			method="post">

			<!-- Table -->
			<table class="cinereousTable">

				<!-- Table first row -->

				<tr>
					<td>Nazwa Wydarzenia:</td>
					<td><input type="text" th:field="*{Nazwa_Wydarzenia}"></td>
				</tr>

				<!-- Table 2nd row -->

				<tr>
					<td>Maksymalna ilosc uczestnikow:</td>
					<td><input type="text" th:field="*{Maksymalna_Ilosc_Uczestnikow}"></td>
				</tr>

				<!-- Table 3rd row -->

				<tr>
					<td>Czy wymagana zgoda rodziców?</td>
					<td><select th:field="*{Wymagana_Zgoda_Rodzica}">
							<option value="T">Tak</option>
							<option value="N">Nie</option>
					</select></td>
					
				</tr>

				<!-- Table 4th row -->

				<tr>
					<td>ID Domu:</td>
					<td><input type="text" th:field="*{ID_Domu}"></td>
				</tr>
				
				<!-- Button save -->
				<tr>
					<td colspan="2"><button class="button" type="submit">Save</button></td>
				</tr>



			</table>
		</form>
					<br/>	
				<!-- EXIT -->
				<a href="/W">Powrót</a>
	</div>
</body>
</html>