<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Aplikacja do obsługi Domu Kultury</title>
</head>
<body>

	<div align="center">
		<!--  Page header  -->
		<h1>Wprowadz nowego Uczestnika</h1>

		<form action="#" th:action="@{/saveU}" th:object="${NowyUczestnik}"
			method="post">

			<!-- Table -->
			<table border="1" cellpadding="10">

				<!-- Table first row -->

				<tr>
					<td>Imie Uczestnika:</td>
					<td><input type="text" th:field="*{Imie}"></td>
				</tr>

				<!-- Table 2nd row -->

				<tr>
					<td>Nazwisko Uczestnika:</td>
					<td><input type="text" th:field="*{Nazwisko}"></td>
				</tr>
				
				<!-- Table 3th row -->

				<tr>
					<td>Płeć</td>
					<td><select th:field="*{Plec}">
							<option value="Mezczyzna">Mezczyzna</option>
							<option value="Kobieta">Kobieta</option>
					</select>
					</td>
				</tr>

				<!-- Table 4rd row -->

				<tr>
					<td>Data urodzenia (format rrrr-mm-dd):</td>
					<td><input type="text" th:field="*{Data_urodzenia}"></td>
				</tr>

		

				<!-- Table 5th row -->

				<tr>
					<td>Numer_Telefonu:</td>
					<td><input type="text" th:field="*{Numer_telefonu}"></td>
				</tr>

				<!-- Table 6th row -->

				<tr>
					<td>Email:</td>
					<td><input type="text" th:field="*{Email}"></td>
				</tr>

				<!-- Table 7th row -->

				<tr>
					<td>ID_adresu:</td>
					<td><input type="text" th:field="*{ID_Adresu}"></td>
				</tr>

			


				<!-- Button save -->
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>



			</table>
		</form>

		<!-- EXIT -->
		<a href="/U">Powrót</a>
	</div>
</body>
</html>